{% extends "base.html" %}
{% load event_extras %}

{% block content %}
<div class="container-fluid">

    {% if user.is_authenticated and user.profile.user_type == 'organiser' %}
    <div class="manage-event"><span><a href="{% url 'my_events' %}">
                <p class="fs-4">Manage events</p>
            </a></span></div>
    {% endif %}

    {% if user.is_authenticated %}
    <div id="page-header" class="text-center my-5">
        <h1 class="text-center display-2 fw-bold">What's on</h1>
        <p class="text-center">Explore the latest events happening around you!</p>
    </div>

    <!--Filtering through events by date, time, location-->
    <div></div>
    <form method="get" class="row mb-3 background-fill">
        <div class="col-md-4">
            <label for="date" class="form-label">Filter by Date:</label>
            <input type="date" name="date" id="date" class="form-select"  value="{{ selected_date|default:'' }}" onchange="this.form.submit()"/>
        </div>

        <div class="col-md-4">
            <label for="location" class="form-label">Filter by Location:</label>
            <select name="location" id="location" class="form-select" onchange="this.form.submit()">
                <option value="">All Locations</option>
                {% for loc in locations %}
                <option value="{{ loc }}" {% if selected_location == loc %}selected{% endif %}>{{ loc }}</option>
                {% endfor %}
            </select>
        </div>
    </form>

    {% if event_list %}
    <div class="row">
        {% for event in event_list %}
        {% if event.status == 1 %}
            <div class="col-sm-10 col-md-6 col-lg-4 d-flex mb-5 justify-content-center">
            <div class="card h-100" style="max-width: 20rem;">
                {% if event.image %}
                <img src="{{ event.image.url }}" class="card-img-top event-image" alt="Event Image">
                {% else %}
                <img src="https://res.cloudinary.com/dcvyln5fy/image/upload/v1752856652/placeholder_image_rwbnhz.webp"
                    class="card-img-top" alt="Default Image">
                {% endif %}
                <a href="{% url 'event_detail' event.pk %}" class="text-decoration-none text-dark">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">{{ event.title }}</h5>
                            <form method="post" action="{% url 'like_event' event.id %}">
                                {% csrf_token %}
                                <button type="submit" class="like-button" data-event-id="{{ event.id }}">
                                    {% if user in event.liked_by.all %}
                                    ❤️ <!-- liked -->
                                    {% else %}
                                    🤍 <!-- not liked -->
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                        <p class="card-text"> {{ event.excerpt }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <div class="text-center my-5">
        <h2 class="display-3">No events found!</h2>
        <p>Try adjusting your filters or check back later.</p>
    </div>
    {% endif %}

    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

    {% else %}
    <div id="page-header" class="text-center my-5">
        <h2 class="display-3" id="welcome-page">Welcome to What's on!</h2>
        <hr>
        <p>The place where fun finds YOU! <br>
            From pub quizzes to open mic chaos, we’re your local night-out compass 🧭
        </p>
        <p class="text-center mt-4">
            🍻 Ready to join the party?
            <a href="{% url 'account_login' %}" class="fw-bold">Log in</a> <br>
            or <br>
            <a href="{% url 'account_signup' %}" class="fw-bold">Sign up</a>
            and never miss a shindig again!
        </p>
    </div>

    {% endif %}

    {% endblock content %}