{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    
    <div id="event-header" class="text-center my-5">
        <h1 class="text-center my-4">What's on</h1>
        <p class="text-center">Explore the latest events happening around you!</p>
    </div>

    <div class="row">
        {% for event in event_list %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">Date: {{ event.date }}</p>
                    <p class="card-text">Location: {{ event.location }}</p>
                    <p class="card-text">Description: {{ event.description | safe }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{% endblock content %}