{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <div id="page-header" class="text-center my-3">
        {% if user.is_authenticated and user.profile.user_type == 'public' %}
        <h1 class="text-center">My Events</h1>
        <hr>
        <p class="text-center">Your saved events</p>


        <div class="row g-4 justify-content-center">
            {% for event in liked_events %}
            <div class="col-sm-10 col-md-6 col-lg-4 d-flex mb-5 justify-content-center">
                <div class="card h-100" style="max-width: 20rem;">
                    {% if event.image %}
                    <img src="{{ event.image.url }}" class="card-img-top event-image" alt="Event Image">
                    {% else %}
                    <img src="https://res.cloudinary.com/dcvyln5fy/image/upload/v1752856652/placeholder_image_rwbnhz.webp"
                        class="card-img-top" alt="Default Image">
                    {% endif %}
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'event_detail' event.pk %}" class="text-decoration-none text-dark">
                                <h5 class="card-title mb-0">{{ event.title }}</h5>
                            </a>

                            <form method="post" action="{% url 'like_event' event.id %}">
                                {% csrf_token %}
                                <button type="submit" class="like-button" data-event-id="{{ event.id }}">
                                    {% if user in event.liked_by.all %}
                                    ❤️
                                    {% else %}
                                    🤍
                                    {% endif %}
                                </button>
                            </form>
                        </div>

                        <a href="{% url 'event_detail' event.pk %}" class="text-decoration-none text-dark">
                            <p class="card-text">{{ event.excerpt }}</p>
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="background-fill">You haven't liked any events yet!</p>
            {% endfor %}
        </div>
    </div>

    {% elif user.is_authenticated and user.profile.user_type == 'bar' %}
    <div class="container-fluid">
        <h2 class="mt-1">Events You Created ✍️</h2>
        <hr>
        <div class="create-event-link mb-4">
            <p><a href="{% url 'event_create' %}" class="btn btn-success">Create event</a></p>
        </div>
        <div class="row g-4 justify-content-center">
            {% for event in created_events %}
            <div class="col-sm-10 col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card h-100" style="max-width: 20rem;">
                    {% if event.image %}
                    <img src="{{ event.image.url }}" class="card-img-top event-image" alt="Event Image">
                    {% else %}
                    <img src="https://res.cloudinary.com/dcvyln5fy/image/upload/v1752856652/placeholder_image_rwbnhz.webp"
                        class="card-img-top" alt="Default Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <p class="card-text">{{ event.excerpt }}</p>
                        <a id="viewButton-{{ event.id }}" href="{% url 'event_detail' event.pk %}"
                            class="btn viewButton">View</a>
                        <a id="editButton-{{ event.id }}" href="{% url 'event_edit' event.pk %}"
                            class="btn editButton">Edit</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#deleteButton{{ event.pk }}">Delete</button>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal" id="deleteButton{{ event.pk }}" tabindex="-1"
                aria-labelledby="deleteButtonLabel{{ event.pk }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteButtonLabel{{ event.pk }}">Delete event</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete "{{ event.title }}"?</p>
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="{% url 'event_delete' event.pk %}" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Yes, delete it!</button>
                            </form>
                            <button type="button" class="btn btn-secondary noButton" data-bs-dismiss="modal">Actually,
                                no</button>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>You haven't created any events yet.</p>
            {% endfor %}
        </div>
    </div>
</div>


{% else %}
<div id="page-header" class="text-center my-5">
    <h2>Welcome to What's on!</h2>
    <p>Please <a href="{% url 'account_login' %}">log in</a> to view the latest events.</p>
    <p>Don't have an account? <a href="{% url 'account_signup' %}">Sign up</a> now!</p>
</div>
{% endif %}

</div>

{% endblock content %}