/*Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Schoolbell&display=swap');
:root {
    --primary-color: #90f0a3;
    --secondary-color: #51d9d0;
    --highlight-color: #f9f871;    
}


body {
    background-image: url('../images/bg-image.webp');
}

nav {
    background-color: var(--secondary-color);
    font-family: "Henny Penny", system-ui, "sans-serif";
}

#navbarText {
    justify-content: end;  
    font-size: 1.3rem
}

#navbar-pages a {
    padding: 10px 20px;
}

.brand {
    font-size: 2rem;
    text-shadow: var(--highlight-color) 2px 2px 4px;
}

#page-header {
    background-color: var(--primary-color);
    border-radius : 30px;
    padding: 10px;
    text-shadow: white 1px 1px 2px;
    font-weight: bold;
    font-size: 1.2rem;
}

main {
    font-family: "Schoolbell", cursive, "sans-serif";
}

/*Events page*/

.card {
    border-radius: 30px;
    background-color: var(--highlight-color);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: var(--secondary-color) 1px 1px 2px;
}

#login-button {
    background-color: var(--secondary-color);
    color: white;
    text-shadow: black 1px 1px 2px;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1.2rem;
}

#signup-link {
    text-decoration: none;  
    font-size: 1rem; 
    font-weight: bold; 

}

#signup-form li {
    display: none;
}

.comment {
    background: none !important;
}

#comments-section {
    background-color: var(--primary-color);
    border-radius : 30px;
    padding: 10px;
    text-shadow: white 1px 1px 2px;
    font-weight: bold;
    font-size: 1.2rem;
    justify-items: center;
    text-align: center;
}

#comments-section h2 {
    font-size: 2.5rem;
    text-shadow: var(--secondary-color) 1px 1px 2px;
}

#id_content {
    border-radius: 20px;
}


